.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
}


.custom-modal-content {
background: rgba(30, 0, 62, 1);
margin: 3% auto;
padding: 20px;
border: 1px solid #888;
width: 60%;
text-align: left;
position: relative;
font-size: 23px;
}


.modal-content {
background: rgba(30, 0, 62, 0.5);
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 30%;
text-align: left;
position: relative;
font-size: 23px;
}


.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
cursor: pointer;
}

.close:hover {
color: black;
}
#modalTitle {
font-size: 30px;
}

.info-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background: rgba(30, 0, 62, 0.7);
  padding: 20px;
  color: #fff;
  text-align: left;
  border: 1px solid #888;
  font-size: 23px;

  position: absolute;
  z-index: 1;
  left: 37%;
  transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltip-right {
  top: 3px;
  left: 430px;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

#btnWrap {
  width: 500px;
  margin: 100px auto;
}
#popupBtn {
  width: 150px;
  height: 50px;
  padding: 10px 5px;
}
#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}

#modalBody {
  width: 500px;
  height: 300px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
}

#closeBtn {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}
