<!-- error.html -->
<!DOCTYPE HTML>
<html>
    <head>
        <title>Error - MAF</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
        <style>
			#Container p {
			color: #ffffff;
			font-weight: normal;
			font-size: 1.25em;
			line-height: 1.5;
			margin: 0 0 0.5em 0;
		}
		</style>
    </head>
    <body class="is-preload">
        <header id="header">
            <a href="/" class="title">MAF</a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <!-- Add other navigation links as needed -->
                </ul>
            </nav>
        </header>
        <div id="wrapper">
            <section id="main" class="wrapper">
                <div class="inner">
                    <div class="row">
                        <div class="col-6 col-12-medium">
                            <ul class="actions">
                                <li><a href="/" class="button fit">Home</a></li>
                                <li><a href="/data" class="button fit">Data selection</a></li>
                            </ul>
                        </div>
                    </div>
                    <h1 class="major">Error</h1>
                        <div id="Container" style="display: flex; align-items: center;">
                        <p>An error occurred during the mitigation process. Please try again later.</p>
                        </div>
                </div>
            </section>
        </div>
    </body>
</html>
