{% extends "common/base.html" %}
{% load static %}
{% load mathfilters %}

{% block header_content %}
<ul>
    <li><a href="/app">Home</a></li>
    <li><a href="/app/datatype">Data</a></li>
    <li><a href="#">Metrics</a></li>
    <li><a href="#">Algorithms</a></li>
    <li><a href="#" class="active">Result</a></li>
</ul>
{% endblock %}

{% block body_content %}
<h1 class="major">Mitigation Result</h1>
    <section>
        <ul class="alt">
			<li><b>Dataset</b>: {{ data_name }}</li>
			<li><b>Mitigation algorithm</b>: {{ algorithm_name }}</li>
		</ul>
	</section>

    <h2>Best Recalls (R@K)</h2>
    <section>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>K</th>
                    <th>Recall</th>
                </tr>
            </thead>
            <tbody>
                {% if result.recall_pairs %}
                    {% for k, r in result.recall_pairs %}
                        <tr>
                            <td>R@{{ k }}</td>
                            <td>{{ r|floatformat:4 }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No recall data available.</td>
                    </tr>
                {% endif %}

            </tbody>
        </table>
    </div>
</section>
{% endblock %}